<h1>Welcome to our app!</h1>
<p 
style="color: red; font-size: 20px; font-weight: bold;">Hi <%= name %></p>
<p>Click <a href="<%= loinUrl %>">here</a> to login</p>
<p>Or use this link: <%= loinUrl %></p>
<p>Best regards, <br> Your App Team</p>
<div style="color: red; font-size: 20px; font-weight: bold;">
    <p>Support <support@nestjs-blog.com></p>
</div>
