<h1>Welcome to our app!</h1>
<p>Hi <%= name %></p>
<p>Click <a href="<%= loinUrl %>">here</a> to login</p>
<p>Or use this link: <%= loinUrl %></p>
<p>Best regards, <br> Your App Team</p>
<p>Support <support@nestjs-blog.com></p>
